*{
    background:#4a6075 ;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.title {
    color: #0c1d2e;
}
.About_Me{
    color: #1e303a;
    font-size: 18px;
    line-height: 1.6;
}